<h1>Fundamental statistics for JavaScript</h1>
<div id="inputs">
    <select name="function" id="f-select" onchange="renderPlot(window[this.value])">
        <option value="binomial">binomial</option>
        <option value="negBinomial">negative binomial</option>
    </select>
</div>
<div id="plot"></div>
